<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!-- ヘッダー -->
<header th:fragment="common_header" id="login_header">
	<div class="container-fluid">
		<h1 class="my-auto">
			<a th:href="@{/admin/home}">町内会管理画面</a>
		</h1>
	</div>
	<!-- ログイン画面に戻り、ログアウトしましたのメッセージを表示 -->
	<a th:href="@{/admin/logout}">
		<button id="admin_login_btn" class="btn btn-secondary px-2 py-2">ログアウト</button>
	</a>
</header>

<!-- フッター -->
<footer th:fragment="common_footer">
	<div class="container-fluid">
		<p>&copy; Town Circle 2024</p>
	</div>
</footer>