<!-- PC用メニュー -->
<div class="container-fluid d-none d-lg-flex">
  <h1 class="my-auto"><a href="/home.html"><img src="/images/townSystem-logo.png" alt="町内会システム"></a></h1>
  <ul>
    <li class="my-auto">No. 0</li>
    <!-- 会員名クリックで会員情報の詳細と編集ができるようにする -->
    <li class="dropdown">
      <a id="user-btn" class="btn btn-secondary dropdown-toggle border-0" href="#" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        会員名
      </a>
      <ul class="dropdown-menu">
        <li class="ms-0"><a class="dropdown-item" href="/memberEdit.html">会員情報編集</a></li>
        <li class="ms-0"><a class="dropdown-item" href="/passEdit.html">パスワード変更</a></li>
        <li class="ms-0"><a class="dropdown-item" href="/logout.html">ログアウト</a></li>
      </ul>
    </li>
  </ul>
</div>