<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<!-- サイドメニュー -->
<th:block th:fragment="common_sidemenu">
<div class="col-lg-3 sidebar d-none d-lg-block">
  <a th:href="@{/home}">
    <button type="button" class="btn btn-light">
      <img class="icon" th:src="@{/images/homeIcon.png}" alt="ホーム">ホーム
    </button>
  </a>
  <a th:href="@{/board}">
    <button type="button" class="btn btn-light">
      <img class="icon" th:src="@{/images/boardIcon.png}" alt="回覧板">回覧板
    </button>
  </a>
  <a class="home-schedule" href="#">
    <button type="button" class="btn btn-light">
      <img class="icon" th:src="@{/images/scheduleIcon.png}" alt="スケジュール">スケジュール
    </button>
  </a>
  <a th:href="@{/chat}">
    <button type="button" class="btn btn-light">
      <img class="icon" th:src="@{/images/chatIcon.png}" alt="チャット">チャット
    </button>
  </a>
  <a th:href="@{/file}">
    <button type="button" class="btn btn-light">
      <img class="icon" th:src="@{/images/fileIcon.png}" alt="関連資料">関連資料
    </button>
  </a>
  <a th:href="@{/question}">
    <button type="button" class="btn btn-light">
      <img class="icon" th:src="@{/images/questionIcon.png}" alt="アンケート">アンケート
    </button>
  </a>
  <a th:href="@{/opinionbox}">
    <button type="button" class="btn btn-light">
      <img class="icon" th:src="@{/images/mailBoxIcon.png}" alt="ご意見箱">ご意見箱
    </button>
  </a>
  <a th:href="@{/contact}">
    <button type="button" class="btn btn-light">
      <img class="icon" th:src="@{/images/telIcon.png}" alt="緊急連絡">緊急連絡
    </button>
  </a>
</div>
</th:block>
<!-- サイドメニュー終了 -->