<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/common/metaCommon :: common_head}">
  <title>町内会システム | 管理者ホーム</title>
</head>
  

<body>
  <!-- ヘッダー -->
  <header th:insert="~{/common/adminCommon :: common_header}"></header>

  <!-- メイン -->
  <main>
    <div class="container">
      <div class="tab-switch my-3">
        <label>
          <input type="radio" name="TAB" checked>
          お知らせ一覧
        </label>
        <div id="infoList" class="tab-content">
          <th:block th:insert="~{/admin/list/infoList :: html_info}"></th:block>
        </div>


        <label>
          <input type="radio" name="TAB">
          回覧板一覧
        </label>
        <div id="boardList" class="tab-content">
          <th:block th:insert="~{/admin/list/boardList :: html_board}"></th:block>
        </div>

        <label>
          <input type="radio" name="TAB">
          グループ一覧
        </label>
        <div id="groupList" class="tab-content">
          <!-- グループ一覧をインクルード -->
        </div>

        <label>
          <input type="radio" name="TAB">
          会員一覧
        </label>
        <div id="memberList" class="tab-content">
          <!-- 会員一覧をインクルード -->
        </div>

        <label>
          <input type="radio" name="TAB">
          スケジュール一覧
        </label>
        <div id="scheduleList" class="tab-content">
          <!-- スケジュール一覧をインクルード -->
        </div>

        <label>
          <input type="radio" name="TAB">
          チャット一覧
        </label>
        <div id="chatList" class="tab-content">
          <!-- チャット一覧をインクルード -->
        </div>

        <label>
          <input type="radio" name="TAB">
          アンケート一覧
        </label>
        <div id="questionList" class="tab-content">
          <!-- アンケート一覧をインクルード -->
        </div>

        <label>
          <input type="radio" name="TAB">
          資料一覧
        </label>
        <div id="fileList" class="tab-content">
        <!-- 資料一覧をインクルード -->
        </div>

        <label>
          <input type="radio" name="TAB">
          ご意見一覧
        </label>
        <div id="opinionList" class="tab-content">
          <!-- ご意見一覧をインクルード -->
        </div>
      </div>
    </div>
  </main>

  <!-- フッター -->
  <footer th:insert="~{/common/adminCommon :: common_footer}"></footer>
</body>

</html>