<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/common/metaCommon :: common_head}">
<title>町内会システム | 管理者SIGN IN</title>
</head>

<body>
	<!-- エラーメッセージ用画像 -->
	<th:block th:insert="~{/common/metaCommon :: common_alert_image}"></th:block>

	<!-- ヘッダー -->
	<header id="login_header">
		<div class="container-fluid">
			<h1 class="my-auto">
				<a th:href="@{/admin/home}">町内会管理画面</a>
			</h1>
		</div>
		<a th:href="@{/login}">
			<button id="admin_login_btn" class="btn btn-success px-2 py-2">会員ログイン</button>
		</a>
	</header>

	<!-- メイン -->
	<main id="admin_login_main">
		<div class="container admin">
			<div class="row">
				<div class="col admin_login_view">
					<h2 class="text-center mt-3">管理者ログイン</h2>
					<!-- ログアウト時のメッセージを表示 -->
					<div th:if="${statusMessage}" class="alert alert-success col-9 offset-1 d-flex align-items-center mb-0 error"
						role="alert"><svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
							[[${statusMessage}]]
						</div>
					<form action="" method="post" th:object="${admin}">
						<!-- エラーがある場合、以下のメッセージを表示 -->
						<div th:if="${#fields.hasAnyErrors()}" class="row">
							<div th:each="error : ${#fields.allErrors()}"
								class="alert alert-danger col-9 offset-1 d-flex align-items-center mb-0 error"
								role="alert">
								<svg class="bi flex-shrink-0 me-2" role="img"
									aria-label="Danger:">
    								<use xlink:href="#exclamation-triangle-fill" />
 								</svg>
								<div>
									<th:block th:text="${error}"></th:block>
								</div>
							</div>
						</div>

						<div class="row">
							<!-- 大画面フォーム -->
							<div class="bigScreen d-lg-flex">
								<div class="col-lg-2 offset-1 mt-5">
									<label for="loginId" class="col-form-label">管理者ログインID</label>
								</div>
								<div class="col-lg-7 mt-5">
									<input type="text" th:field="*{loginId}" class="form-control large-screen">
								</div>
							</div>
							<!-- タブレット・スマホフォーム -->
							<div class="mobile">
								<div class="col-8 offset-2 mt-5">
									<input type="text" th:field="*{loginId}"
										class="form-control tablet" placeholder="管理者ログインID">
								</div>
							</div>
						</div>
						<div class="row">
							<!-- 大画面フォーム -->
							<div class="bigScreen d-lg-flex">
								<div class="col-lg-2 offset-1 mt-5">
									<label for="loginPass" class="col-form-label">パスワード</label>
								</div>
								<div class="col-lg-7 mt-5">
									<input type="password" th:field="*{loginPass}"
										class="form-control large-screen">
								</div>
							</div>
							<!-- タブレット・スマホフォーム -->
							<div class="mobile">
								<div class="col-8 offset-2 mt-5">
									<input type="password" th:field="*{loginPass}"
										class="form-control tablet" placeholder="パスワード">
								</div>
							</div>
						</div>
						<div class="signin-btn mt-5 mb-3">
							<input type="submit" value="ログイン"
								class="btn btn-secondary px-5 py-2">
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>

	<!-- フッター -->
	<footer>
		<div class="container-fluid">
			<p>&copy; Town Circle 2024</p>
		</div>
	</footer>
</body>
</html>