<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Pacifico&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
  <script src="../js/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/main.js"></script>
  <title>町内会システム | スケジュール新規登録</title>
</head>

<body>
  <!-- ヘッダー -->
  <header id="login_header">
    <div class="container-fluid">
      <h1 class="my-auto"><a href="adminHome.html">町内会管理画面</a></h1>
    </div>
    <!-- ログイン画面に戻り、ログアウトしましたのメッセージを表示 -->
    <a href="../adminLogout.html">
      <button id="admin_login_btn" class="btn btn-secondary px-2 py-2">ログアウト</button>
    </a>
  </header>
  <!-- メイン -->
  <main>
    <div class="container">
      <h2 class="mt-3">スケジュール新規登録</h2>
      <div class="col-lg-8 offset-lg-2 col-10 offset-1 mt-lg-4">
        <form action="" method="post">
          <label for="event-content" class="form-label py-3">イベント内容</label>
          <input type="text" id="event-content" name="event-content" class="form-control">
          <label for="event-date" class="form-label py-3">イベント開催日</label>
          <input type="date" id="event-date" name="event-date" class="form-control">
          <div class="text-center">
            <button type="submit" class="btn btn-outline-primary mt-5">登録</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <!-- フッター -->
  <footer>
    <div class="container-fluid">
      <p>&copy; Town Circle 2024</p>
    </div>
  </footer>
</body>

</html>