<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/common/metaCommon :: common_head}">
<title>町内会システム | BOARD</title>
</head>

<body>
	<!-- ヘッダー -->
	<header id="header">
		<!-- 通常ヘッダー-->
		<th:block th:insert="~{/common/afterLoginHeader :: member_header}"></th:block>
		<!-- ハンバーガーヘッダー-->
		<th:block
			th:insert="~{/common/hamburgerMenu :: member_hamburgerHeader}"></th:block>
	</header>

	<!-- メイン画面 -->
	<main>
		<div class="container-fluid">
			<div class="row" id="sidemenu">
				<!-- サイドメニュー-->
				<th:block th:insert="~{/common/sideMenu :: common_sidemenu}"></th:block>
				<!-- メイン画面 -->
				<div class="col-lg-9 main-view">
					<h2>回覧板</h2>
					<!-- DBの最新の回覧板更新日を取得 -->
					<h3>
						<img class="boardicon" th:src="@{/images/newIcon.png}" alt="NEW">
						[[${#dates.format(latestDate, 'yyyy/MM/dd')}]]
					</h3>
					<div class="row board-main justify-content-around">
						<!-- DBの最新の回覧板画像を取得 繰り返し表示 -->
						<div th:each="board : ${boardList}" class="col-lg-4 board">
							<a th:href="@{/{img}(img=${board.filePath})}" target="_blank"> <img
								class="boardimg" th:src="@{/{img}(img=${board.filePath})}" th:alt="${board.name}">
							</a>
							<div class="d-flex justify-content-between align-items-center">
							<span class="badge text-bg-success" th:if="${readList == null or readList.contains(board.id)}">既読</span>
							<span class="badge text-bg-warning" th:if="${readList != null and !readList.contains(board.id)}">未読</span>
							<a th:href="@{/board/{id}(id=${board.id})}" type="button" class="btn fs-6 px-2 py-1 mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
							  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
							  <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
								</svg></i> 見ました
							</a>
							</div>
							<!-- ここまで -->
						</div>
					</div>
					<div class="row d-grid gap-2 d-md-flex justify-content-end">
							<a th:href="@{/prevboard/{selectMonth}(selectMonth=${currentYearMonth})}" id="prevboard" type="button"
								class="btn btn-outline-secondary me-lg-4">
								過去の回覧板一覧</a>
					</div>
				</div>
				<!-- メイン画面終了 -->
			</div>
		</div>
	</main>

	<!-- フッター -->
	<footer>
		<div class="container-fluid">
			<p>&copy; Town Circle 2024</p>
		</div>
	</footer>
</body>
</html>