<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Pacifico&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <script src="js/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/main.js"></script>
  <title>町内会システム | BOARD</title>
</head>

<body>
  <!-- ヘッダー -->
  <header id="header">
    <!-- ヘッダーをインクルード -->
  </header>

  <!-- メイン画面 -->
  <main>
    <div class="container-fluid">
      <div class="row" id="sidemenu">
        <!--サイドメニューをインクルード-->
        <!-- メイン画面 -->
        <div class="col-lg-9 main-view">
          <h2>回覧板</h2>
          <!-- DBの最新の回覧板更新日を取得 -->
          <h3><img class="bordicon" src="images/newIcon.png" alt="NEW">年/月/日</h3>
          <div class="row bord-main justify-content-around">
            <!-- DBの最新の回覧板画像を取得 繰り返し表示 -->
            <div class="col-lg-4 bord">
              <a href="images/sample01.webp" target="_blank">
                <img class="bordimg" src="images/sample01.webp" alt="サンプル1">
              </a>
              <!-- 既読機能をjQueryで実装するか、DBに情報を持たせて実装するか検討する -->
              <p>未読</p>
              <!-- ここまで -->
            </div>
            <div class="col-lg-4 bord">
              <a href="images/sample02.jpg" target="_blank">
                <img class="bordimg" src="images/sample02.jpg" alt="サンプル2">
              </a>
              <p>未読</p>
            </div>
            <div class="col-lg-4 bord">
              <a href="images/sample03.jpg" target="_blank">
                <img class="bordimg" src="images/sample03.jpg" alt="サンプル3">
              </a>
              <p>未読</p>
            </div>
            <!-- 回覧板画像サンプル終了 -->
          </div>
          <div class="row">
            <a class="d-grid gap-2 d-md-flex justify-content-end" href="prevbord.html">
              <button id="prevbord" type="button" class="btn btn-outline-secondary me-lg-4" type="button">
                過去の回覧板一覧
              </button>
            </a>
          </div>
        </div>
        <!-- メイン画面終了 -->
      </div>
    </div>
  </main>

  <!-- フッター -->
  <footer>
    <div class="container-fluid">
      <p>&copy; Town Circle 2024</p>
    </div>
  </footer>
</body>
</html>