<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/common/metaCommon :: common_head}">
<title>町内会システム | HOME</title>
</head>

<body>
	<!-- エラーメッセージ用画像 -->
	<th:block th:insert="~{/common/metaCommon :: common_alert_image}"></th:block>

	<!-- ヘッダー -->
	<header id="header">
		<!-- 通常ヘッダー-->
		<th:block th:insert="~{/common/afterLoginHeader :: member_header}"></th:block>
		<!-- ハンバーガーヘッダー-->
		<th:block
			th:insert="~{/common/hamburgerMenu :: member_hamburgerHeader}"></th:block>
	</header>

	<!-- メイン画面 -->
	<main>
		<div class="container-fluid">
			<div class="row" id="sidemenu">
				<!-- サイドメニュー-->
				<th:block th:insert="~{/common/sideMenu :: common_sidemenu}"></th:block>
				<!-- メイン画面 -->
				<div class="col-lg-9 main-view mt-3">
					<div class="d-flex align-items-center">
						<h2 id="home-only">ホーム</h2>
						<!-- メッセージを表示 -->
						<div th:if="${statusMessage}"
							class="col-lg-4 alert alert-success mt-3 py-2" role="alert">
							<svg class="bi flex-shrink-0 me-2" role="img"
								aria-label="Success:" width="16" height="16">
								<use xlink:href="#check-circle-fill" /></svg>
							[[${statusMessage}]]
						</div>
					</div>
					<div class="row home-main">
						<div class="col-lg-6 info">
							<table class="table table-bordered">
								<thead class="text-center">
									<tr>
										<th colspan="2"><img class="icon"
											src="images/infomation.png" alt="お知らせ">お知らせ</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>登録日</th>
										<th>内容</th>
									</tr>
									<tr th:each="info : ${infoList}">
										<td>[[${#dates.format(info.created, 'yyyy/MM/dd')}]]</td>
										<td>[[${info.content}]]</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-lg-6 home-main">
							<div class="row">
								<div class="col-lg-12 event">
									<table class="table table-bordered">
										<thead class="text-center">
											<tr>
												<th colspan="2"><img class="icon"
													src="images/event.png" alt="イベント">今月の行事</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th>開催日</th>
												<th>イベント</th>
											</tr>
											<tr th:each="event : ${scheduleList}">
												<td>[[${#dates.format(event.eventAt,
													'yyyy/MM/dd(E)')}]]</td>
												<td>[[${event.title}]]</td>
											</tr>
											<!-- ここまで -->
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- メイン画面終了 -->
			</div>
		</div>
	</main>

	<!-- フッター -->
	<footer>
		<div class="container-fluid">
			<p>&copy; Town Circle 2024</p>
		</div>
	</footer>
</body>

</html>