<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/common/metaCommon :: common_head}">
<title>町内会システム | SIGN IN</title>
</head>

<body>
	<!-- エラーメッセージ用画像 -->
	<th:block th:insert="~{/common/metaCommon :: common_alert_image}"></th:block>

	<!-- ヘッダー -->
	<header id="login_header">
		<div class="container-fluid">
			<h1 class="my-auto">
				<a th:href="@{/home}"><img
					th:src="@{/images/townSystem-logo.png}" alt="町内会システム"></a>
			</h1>
		</div>
		<a th:href="@{/admin/login}">
			<button id="admin_login_btn" class="btn btn-secondary px-2 py-2">管理者ログイン</button>
		</a>
	</header>

	<!-- メイン画面 -->
	<main>
		<div class="login-main">
			<div class="container" id="signin-con">
				<div class="row">
					<div class="col-lg signin-view">
						<h1 class="text-center">SIGN IN</h1>
						<form th:action="@{/login}" method="post" th:object="${memberForm}">
							<!-- エラーがある場合、以下のメッセージを表示 -->
							<div th:if="${#fields.hasAnyErrors()}" class="row">
								<div th:each="error : ${#fields.allErrors()}"
									class="alert alert-danger col-9 offset-1 d-flex align-items-center mb-0 error"
									role="alert">
									<svg class="bi flex-shrink-0 me-2" role="img"
										aria-label="Danger:">
    								<use xlink:href="#exclamation-triangle-fill" />
 								</svg>
									<div>
										<th:block th:text="${error}"></th:block>
									</div>
								</div>
							</div>

							<div class="row">
								<!-- 大画面フォーム -->
								<div class="bigScreen d-lg-flex">
									<div class="col-lg-2 offset-1 mt-5">
										<label for="email" class="col-form-label">Email</label>
									</div>
									<div class="col-lg-7 mt-5">
										<input type="email" th:field="*{email}"
											class="form-control large-screen">
									</div>
								</div>
								<!-- タブレット・スマホフォーム -->
								<div class="mobile">
									<div class="col-8 offset-2 mt-5">
										<input type="email" th:field="*{email}"
											class="form-control tablet" placeholder="Email">
									</div>
								</div>
							</div>
							<div class="row">
								<!-- 大画面フォーム -->
								<div class="bigScreen d-lg-flex">
									<div class="col-lg-2 offset-1 mt-5">
										<label for="password" class="col-form-label">Password</label>
									</div>
									<div class="col-lg-7 mt-5">
										<input type="password" th:field="*{password}"
											class="form-control large-screen">
									</div>
								</div>
								<!-- タブレット・スマホフォーム -->
								<div class="mobile">
									<div class="col-8 offset-2 mt-5">
										<input type="password" th:field="*{password}"
											class="form-control tablet" placeholder="Password">
									</div>
								</div>
							</div>
							<div class="signin-btn mt-5">
								<input type="submit" value="SIGN IN"
									class="btn btn-secondary px-5 py-2">
							</div>
						</form>
					</div>

					<div class="col-lg signup-view">
						<h1 class="text-center">WELCOME!</h1>
						<div class="signin-btn mt-4">
							<p class="text-center">新規登録はこちら</p>
							<button id="changeSignUp" class="btn btn-light px-5 py-2">SIGN
								UP</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</main>
	<!-- フッター -->
	<footer>
		<div class="container-fluid">
			<p>&copy; Town Circle 2024</p>
		</div>
	</footer>
	<th:block th:insert="~{/member/signinTemplate :: signin-template}"></th:block>
	<th:block th:insert="~{/member/signinTemplate :: signup-template}"></th:block>
	<script>
	// DOMが読み込まれた時に実行
	document.addEventListener("DOMContentLoaded", toggleInputState);
	// SIGNUP画面からSIGNINボタン押下時に実行
	
	document.addEventListener('click', function (event) {
		if (event.target && event.target.id === 'changeSignIn' ||
				event.target && event.target.id === 'changeSignUp') {
			setTimeout(toggleInputState, 2000);
		}
	});

	function toggleInputState() {
		// .tabletクラスを持つすべての要素を取得
		const mobileInputs = document.querySelectorAll('.tablet');
	 	// .large-screenクラスを持つすべての要素を取得
		const largeInputs = document.querySelectorAll('.large-screen');
		// 大画面の場合、各要素を無効化
		if (window.innerWidth >= 992) {
			mobileInputs.forEach(input => {
				input.disabled = true; // 無効化
			});
		}else {
			largeInputs.forEach(input => {
				input.disabled = true; // 無効化
			});
	 	}
	}
</script>
</body>

</html>