<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/common/metaCommon :: common_head}">
<title>町内会システム | Edit</title>
</head>

<body>
	<!-- エラーメッセージ用画像 -->
	<th:block th:insert="~{/common/metaCommon :: common_alert_image}"></th:block>
	<!-- ヘッダー -->
	<header id="header">
		<!-- 通常ヘッダー-->
		<th:block th:insert="~{/common/afterLoginHeader :: member_header}"></th:block>
		<!-- ハンバーガーヘッダー-->
		<th:block
			th:insert="~{/common/hamburgerMenu :: member_hamburgerHeader}"></th:block>
	</header>

	<!-- メイン画面 -->
	<main>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 my-4">
					<h1 class="text-center mb-5">会員情報編集</h1>
					<form action="" method="post" th:object="${member}">
						<!-- 名前のエラーがある場合に表示 -->
						<div th:if="${#fields.hasErrors('name')}"
							class="row error-messages">
							<div class="alert alert-danger col-lg-9 col-8 offset-2 error"
								role="alert">
								<svg class="bi flex-shrink-0 me-2" role="img"
									aria-label="Danger:">
    								<use xlink:href="#exclamation-triangle-fill" />
 								</svg>
								<span th:errors="*{name}"></span>
							</div>
						</div>
						<!-- 名前（漢字） -->
						<div class="row">
							<!-- 大画面フォーム -->
							<div class="bigScreen d-lg-flex">
								<div class="col-lg-1 offset-1 mt-2">
									<label for="name" class="col-form-label two-char">名前</label>
								</div>
								<div class="col-lg-9 mt-2">
									<input type="text" th:field="*{name}"
										class="form-control large-screen">
								</div>
							</div>
							<!-- タブレット・スマホフォーム -->
							<div class="mobile">
								<div class="row">
									<div class="col-8 offset-2 mt-2">
										<input type="text" th:field="*{name}"
											class="form-control tablet" placeholder="名前">
									</div>
								</div>
							</div>
						</div>
						<!-- 名前(カナ)のエラーがある場合に表示 -->
						<div th:if="${#fields.hasErrors('nameKana')}"
							class="row error-messages">
							<div class="alert alert-danger col-lg-9 col-8 offset-2 error"
								role="alert">
								<svg class="bi flex-shrink-0 me-2" role="img"
									aria-label="Danger:">
    								<use xlink:href="#exclamation-triangle-fill" />
 								</svg>
								<span th:errors="*{nameKana}"></span>
							</div>
						</div>
						<!-- 名前（カタカナ） -->
						<div class="row">
							<!-- 大画面フォーム -->
							<div class="bigScreen d-lg-flex">
								<div class="col-lg-1 offset-1 mt-2">
									<label for="nameKana" class="col-form-label two-char">フリガナ</label>
								</div>
								<div class="col-lg-9 mt-2">
									<input type="text" th:field="*{nameKana}"
										class="form-control large-screen">
								</div>
							</div>
							<!-- タブレット・スマホフォーム -->
							<div class="mobile">
								<div class="row">
									<div class="col-8 offset-2 mt-2">
										<input type="text" th:field="*{nameKana}"
											class="form-control tablet" placeholder="フリガナ">
									</div>
								</div>
							</div>
						</div>
						<!-- 住所のエラーがある場合に表示 -->
						<div th:if="${#fields.hasErrors('address')}"
							class="row error-messages">
							<div class="alert alert-danger col-lg-9 col-8 offset-2 error"
								role="alert">
								<svg class="bi flex-shrink-0 me-2" role="img"
									aria-label="Danger:">
    								<use xlink:href="#exclamation-triangle-fill" />
 								</svg>
								<span th:errors="*{address}"></span>
							</div>
						</div>
						<!-- 住所 -->
						<div class="row">
							<!-- 大画面フォーム -->
							<div class="bigScreen d-lg-flex">
								<div class="col-lg-1 offset-1 mt-2">
									<label for="address" class="col-form-label two-char">住所</label>
								</div>
								<div class="col-lg-9 mt-2">
									<input type="text" th:field="*{address}"
										class="form-control large-screen">
								</div>
							</div>
							<!-- タブレット・スマホフォーム -->
							<div class="mobile">
								<div class="row">
									<div class="col-8 offset-2 mt-2">
										<input type="text" th:field="*{address}"
											class="form-control tablet" placeholder="住所">
									</div>
								</div>
							</div>
						</div>
						<!-- 電話番号のエラーがある場合に表示 -->
						<div th:if="${#fields.hasErrors('tel')}"
							class="row error-messages">
							<div class="alert alert-danger col-lg-9 col-8 offset-2 error"
								role="alert">
								<svg class="bi flex-shrink-0 me-2" role="img"
									aria-label="Danger:">
    								<use xlink:href="#exclamation-triangle-fill" />
 								</svg>
								<span th:errors="*{tel}"></span>
							</div>
						</div>
						<!-- 電話番号 -->
						<div class="row">
							<!-- 大画面フォーム -->
							<div class="bigScreen d-lg-flex">
								<div class="col-lg-1 offset-1 mt-2">
									<label for="tel" class="col-form-label two-char">電話</label>
								</div>
								<div class="col-lg-9 mt-2">
									<input type="text" th:field="*{tel}"
										class="form-control large-screen">
								</div>
							</div>
							<!-- タブレット・スマホフォーム -->
							<div class="mobile">
								<div class="row">
									<div class="col-8 offset-2 mt-2">
										<input type="text" th:field="*{tel}"
											class="form-control tablet" placeholder="電話">
									</div>
								</div>
							</div>
						</div>
						<!-- 町内会とグループ選択 -->
						<div class="row">
							<!-- 大画面フォーム -->
							<div class="bigScreen d-lg-flex">
								<div class="col-lg-2 offset-2 mt-2">
									<select th:field="*{group.id}" class="form-select">
										<option th:each="g : ${groupList}" th:value="${g.id}"
											th:text="${g.name}"></option>
									</select>
								</div>
							</div>
							<!-- タブレット・スマホフォーム -->
							<div class="mobile">
								<div class="row">
									<div class="col-4 offset-2 mt-2">
										<select th:field="*{group.id}" class="form-select">
											<option th:each="g : ${groupList}" th:value="${g.id}"
												th:text="${g.name}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<!-- 家族人数のエラーがある場合に表示 -->
						<div th:if="${#fields.hasErrors('familyNumber')}"
							class="row error-messages">
							<div class="alert alert-danger col-lg-9 col-8 offset-2 error"
								role="alert">
								<svg class="bi flex-shrink-0 me-2" role="img"
									aria-label="Danger:">
    								<use xlink:href="#exclamation-triangle-fill" />
 								</svg>
								<span th:errors="*{familyNumber}"></span>
							</div>
						</div>
						<!-- 家族人数 -->
						<div class="row">
							<!-- 大画面フォーム -->
							<div class="bigScreen d-lg-flex">
								<div class="col-lg-2 mt-2 text-center pe-0">
									<label for="familyNumber" class="col-form-label two-char">家族人数</label>
								</div>
								<div class="col-lg-2 mt-2">
									<input type="number" th:field="*{familyNumber}"
										class="form-control large-screen">
								</div>
								<div class="col mt-2 pt-2 ps-1">
									<span>人 ※本人含む</span>
								</div>
							</div>
							<!-- タブレット・スマホフォーム -->
							<div class="mobile">
								<div class="row">
									<div class="col-4 offset-2 mt-2">
										<input type="text" th:field="*{familyNumber}"
											class="form-control d-block tablet" placeholder="家族人数">
									</div>
									<div class="col mt-2 pt-2 ps-0">
										<span>人 ※本人含む</span>
									</div>
								</div>
							</div>
						</div>
						<!-- submitボタン -->
						<div class="signup-btn mt-5">
							<input type="submit" value="編集"
								class="btn btn-secondary px-5 py-2">
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>

	<!-- フッター -->
	<footer>
		<div class="container-fluid">
			<p>&copy; Town Circle 2024</p>
		</div>
	</footer>
</body>

</html>