<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/common/metaCommon :: common_head}">
<title>町内会システム | OPINION-BOX</title>
</head>

<body>
	<!-- エラーメッセージ用画像 -->
	<th:block th:insert="~{/common/metaCommon :: common_alert_image}"></th:block>
	<!-- ヘッダー -->
	<header id="header">
		<!-- 通常ヘッダー-->
		<th:block th:insert="~{/common/afterLoginHeader :: member_header}"></th:block>
		<!-- ハンバーガーヘッダー-->
		<th:block
			th:insert="~{/common/hamburgerMenu :: member_hamburgerHeader}"></th:block>
	</header>

	<!-- メイン画面 -->
	<main>
		<div class="container-fluid">
			<div class="row" id="sidemenu">
				<!-- サイドメニュー-->
				<th:block th:insert="~{/common/sideMenu :: common_sidemenu}"></th:block>
				<!-- メイン画面 -->
				<div class="col-lg-9 main-view">
					<h2>ご意見箱</h2>
					<div class="row">
						<div class="col-lg-8 offset-lg-2 col-10 offset-1 mt-lg-4">
							<!-- 送信ボタンクリックで指定のメールアドレスに送信できる機能を実装 -->
							<form action="" method="post" th:object="${opinion}">
							<!-- エラーがある場合に表示 -->
							<div
								th:if="${#fields.hasErrors('content')}"
								class="row error-messages">
								<div class="alert alert-danger col-lg-9 col-8 error"
									role="alert">
									<svg class="bi flex-shrink-0 me-2" role="img"
										aria-label="Danger:">
    								<use xlink:href="#exclamation-triangle-fill" />
 									</svg>
									<span th:errors="*{content}"></span>
								</div>
							</div>
								<label for="content" class="form-label">入力フォーム</label>
								<textarea class="form-control" th:field="*{content}"
									rows="10"></textarea>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="anonymous" name="anonymous">
									<label class="form-check-label" for="anonymous">
										匿名で送信する </label>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-outline-primary mt-5">送信する</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<!-- メイン画面終了 -->
			</div>
		</div>
	</main>

	<!-- フッター -->
	<footer>
		<div class="container-fluid">
			<p>&copy; Town Circle 2024</p>
		</div>
	</footer>
</body>
</html>