<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/common/metaCommon :: common_head}">
<title>町内会システム | グループ詳細</title>
</head>

<body>
	<!-- ヘッダー -->
	<header th:insert="~{/common/adminCommon :: common_header}"></header>

	<!-- メイン -->
	<main>
		<div class="container">
			<h1 class="my-3">グループ詳細</h1>
			<h2>[[${group.name}]]</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">会員名</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="member : ${memberBygroupList}">
						<th scope="row">[[${member.id}]]</th>
						<td>[[${member.name}]]</td>
					</tr>
				</tbody>
			</table>
			<!-- ボタンプッシュでグループの削除フラグが切り替わる -->
			<a th:if="${#lists.isEmpty(memberBygroupList)}" 
			th:href="@{/admin/groupFlgEdit/{id}(id=${group.id})}" class="btn btn-primary px-2 py-2 mb-2">フラグ変更</a>
			<button type="button" onclick="history.back()"
				class="btn btn-secondary px-2 py-2 mb-2">戻る</button>
		</div>
	</main>

	<!-- フッター -->
	<footer th:insert="~{/common/adminCommon :: common_footer}"></footer>
</body>

</html>