<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{/common/metaCommon :: common_head}">
<title>町内会システム | 会員詳細</title>
</head>

<body>

	<!-- ヘッダー -->
	<header th:insert="~{/common/adminCommon :: common_header}"></header>

	<!-- メイン -->
	<main>
		<div class="container">
			<h1 class="my-3">会員詳細</h1>
			<table class="table">
				<tbody>
					<tr>
						<th class="align-middle" scope="row" rowspan="2" width="20%">会員名</th>
						<td><small>[[${member.nameKana}]]</small></td>

					</tr>
					<tr>
						<td>[[${member.name}]]</td>
					</tr>
					<tr>
						<th scope="row">グループ名</th>
						<td>[[${member.group.name}]]</td>
					</tr>
					<tr>
						<th scope="row">住所</th>
						<td>[[${member.address}]]</td>
					</tr>
					<tr>
						<th scope="row">電話番号</th>
						<td>[[${member.tel}]]</td>
					</tr>
					<tr>
						<th scope="row">Email</th>
						<td>[[${member.email}]]</td>
					</tr>
					<tr>
						<th scope="row">家族人数</th>
						<td>[[${member.familyNumber}]]人</td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/admin/memberGroupEdit/{id}(id=${member.id})}"
				class="btn btn-primary px-2 py-2 mb-2">グループ変更</a>
				<a th:href="@{/admin/memberDelete/{id}(id=${member.id})}" class="btn btn-danger px-2 py-2 mb-2 delete">削除</a>
			<button type="button" onclick="history.back()"
				class="btn btn-secondary px-2 py-2 mb-2">戻る</button>
		</div>
	</main>

	<!-- フッター -->
	<footer th:insert="~{/common/adminCommon :: common_footer}"></footer>
</body>

</html>