<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="html_board">
	<div class="row">
		<div class="col-3">
			<h2 class="mb-3">回覧板一覧</h2>
		</div>
		<div class="col">
			<a th:href="@{/admin/boardRegister}" class="btn btn-success">新規追加</a>
		</div>
	</div>
	<!-- メッセージを表示 -->
	<div th:if="${statusMessage}" class="alert alert-success" role="alert">[[${statusMessage}]]</div>
	<table class="table table-light table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">画像</th>
				<th scope="col">登録日</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="board : ${boardList}">
				<th scope="row">[[${board.id}]]</th>
				<td><a th:href="@{/{img}(img=${board.filePath})}"
					target="_blank"> <img th:src="@{/{img}(img=${board.filePath})}"
						width="200">
				</a></td>
				<td>[[${#dates.format(board.created, 'yyyy/MM/dd')}]]</td>
				<td class="t-btn"><a
					th:href="@{/admin/boardDelete/{id}(id=${board.id})}" type="button"
					class="btn btn-outline-secondary delete">削除</a></td>
			</tr>
		</tbody>
	</table>
	<!-- ページネーション -->
	<nav th:insert="~{/common/adminCommon :: common_pagenation}" aria-label="Page navigation example"></nav>
</th:block>