<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="html_chat">
	<div class="row">
		<div class="col-3">
			<h2 class="mb-3">チャット一覧</h2>
		</div>
	</div>
	<!-- メッセージを表示 -->
	<div th:if="${statusMessage}" class="alert alert-success" role="alert">[[${statusMessage}]]</div>
	<table class="table table-light table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">メッセージ内容</th>
				<th scope="col">投稿者</th>
				<th scope="col">投稿日</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="chat : ${chatList}">
				<th scope="row">[[${chat.id}]]</th>
				<td>[[${chat.message}]]</td>
				<td>[[${chat.member.name}]]</td>
				<td>[[${#dates.format(chat.created, 'yyyy/MM/dd HH時mm分ss秒')}]]</td>
				<td class="t-btn"><a th:href="@{/admin/chatDelete/{id}(id=${chat.id})}" type="button"
						class="btn btn-outline-secondary delete">削除</a></td>
			</tr>
		</tbody>
	</table>
	<!-- ページネーション -->
	<nav th:insert="~{/common/adminCommon :: common_pagenation}"
		aria-label="Page navigation example"></nav>
</th:block>