<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="html_group">
<div class="row">
  <div class="col-3">
    <h2 class="mb-3">グループ一覧</h2>
  </div>
  <div class="col">
    <a th:href="@{/admin/groupRegister}" class="btn btn-success">新規追加</a>
  </div>
</div>
<!-- メッセージを表示 -->
<div th:if="${statusMessage}" class="alert alert-success" role="alert">[[${statusMessage}]]</div>
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">グループ名</th>
      <th scope="col">フラグ</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="group : ${groupList}">
      <th scope="row">[[${group.id}]]</th>
      <td>[[${group.name}]]</td>
      <td th:if="${group.deleteFlg == 0}">有効</td>
       <td th:unless="${group.deleteFlg == 0}">無効</td>
      <td class="t-btn"><a th:href="@{/admin/groupShow/{id}(id=${group.id})}" class="btn btn-outline-info">詳細</a></td>
    </tr>
  </tbody>
</table>
<!-- ページネーション -->
	<nav th:insert="~{/common/adminCommon :: common_pagenation}" aria-label="Page navigation example"></nav>
</th:block>