<div class="row">
  <div class="col-3">
    <h2 class="mb-3">グループ一覧</h2>
  </div>
  <div class="col">
    <a href="groupAdd.html" class="btn btn-success">新規追加</a>
  </div>
</div>
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">グループ名</th>
      <th scope="col">フラグ</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1班</td>
      <td>有効</td>
      <td class="t-btn"><a href="/admin/show/groupShow.html" class="btn btn-outline-info">詳細</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2班</td>
      <td>有効</td>
      <td class="t-btn"><a href="/admin/show/groupShow.html" class="btn btn-outline-info">詳細</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3班</td>
      <td>有効</td>
      <td class="t-btn"><a href="/admin/show/groupShow.html" class="btn btn-outline-info">詳細</a></td>
    </tr>
  </tbody>
</table>
<!-- ページネーション -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>