<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="html_info">
	<div class="row">
		<div class="col-3">
			<h2 class="mb-3">お知らせ一覧</h2>
		</div>
		<div class="col">
			<a th:href="@{/admin/infoRegister}" class="btn btn-success">新規追加</a>
		</div>
	</div>
	<!-- メッセージを表示 -->
	<div th:if="${statusMessage}" class="alert alert-success" role="alert">[[${statusMessage}]]</div>
	<table class="table table-light table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">お知らせ内容</th>
				<th scope="col">登録日</th>
				<th scope="col" colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="info : ${infoList}">
				<th scope="row">[[${info.id}]]</th>
				<td>[[${info.content}]]</td>
				<td>[[${#dates.format(info.created, 'yyyy/MM/dd')}]]</td>
				<td class="t-btn"><a
					th:href="@{/admin/infoEdit/{id}(id=${info.id})}"
					class="btn btn-outline-warning">編集</a></td>
				<td class="t-btn"><a
					th:href="@{/admin/infoDelete/{id}(id=${info.id})}"
					class="btn btn-outline-secondary delete">削除</a></td>
			</tr>
		</tbody>
	</table>
	<!-- ページネーション -->
	<nav th:insert="~{/common/adminCommon :: common_pagenation}" aria-label="Page navigation example"></nav>
</th:block>