<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="html_member">
<div class="row">
  <div class="col-3">
    <h2 class="mb-3">会員一覧</h2>
  </div>
</div>
<!-- メッセージを表示 -->
<div th:if="${statusMessage}" class="alert alert-success" role="alert">[[${statusMessage}]]</div>
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">氏名</th>
      <th scope="col">グループ</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="member : ${memberList}">
      <th scope="row">[[${member.id}]]</th>
      <td>[[${member.name}]]</td>
      <td>[[${member.group.name}]]</td>
      <td class="t-btn">
      <a th:href="@{tel:{telNo}(telNo=${member.tel})}" class="mobile"><img th:src="@{/images/telIcon.png}" width="30"></a>
      <a th:href="@{mailto:{mailadd}(mailadd=${member.email})}" class="bigScreen"><img th:src="@{/images/mailIcon.png}" width="30"></a>
      </td>
      <td class="t-btn"><a th:href="@{/admin/memberShow/{id}(id=${member.id})}" class="btn btn-outline-info">詳細</a></td>
    </tr>
  </tbody>
</table>
<!-- ページネーション -->
	<nav th:insert="~{/common/adminCommon :: common_pagenation}" aria-label="Page navigation example"></nav>
</th:block>