<div class="row">
  <div class="col-3">
    <h2 class="mb-3">会員一覧</h2>
  </div>
</div>
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">氏名</th>
      <th scope="col">グループ</th>
      <th scope="col">有効/無効</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>サンプル一郎</td>
      <td>1班</td>
      <td>有効</td>
      <td class="t-btn"><img src="../images/telIcon.png" width="30"></td>
      <td class="t-btn"><a href="/admin/show/memberShow.html" class="btn btn-outline-info">詳細</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>サンプル次郎</td>
      <td>1班</td>
      <td>有効</td>
      <td class="t-btn"><img src="../images/telIcon.png" width="30"></td>
      <td class="t-btn"><a href="/admin/show/memberShow.html" class="btn btn-outline-info">詳細</a></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>サンプル三郎</td>
      <td>2班</td>
      <td>有効</td>
      <td class="t-btn"><img src="../images/telIcon.png" width="30"></td>
      <td class="t-btn"><a href="/admin/show/memberShow.html" class="btn btn-outline-info">詳細</a></td>
    </tr>
  </tbody>
</table>
<!-- ページネーション -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>