<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="html_opinion">
<div class="row">
  <div class="col-3">
    <h2 class="mb-3">ご意見一覧</h2>
  </div>
</div>
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ご意見内容</th>
      <th scope="col">投稿者</th>
      <th scope="col">投稿日</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>もっと子供達が参加できるイベントを増やしてほしい。</td>
      <td>サンプル一郎</td>
      <td>2024/12/12</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>支出の抑えられるところは抑えてほしい。</td>
      <td>サンプル次郎</td>
      <td>2024/12/26</td>
    </tr>
  </tbody>
</table>
<!-- ページネーション -->
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
</th:block>