<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.dao.CircularBoardDao">
	<select id="selectAll" resultType="com.example.app.domain.CircularBoard">
		SELECT * FROM circular_boards WHERE delete_flg = 0
	</select>
	<select id="selectById" parameterType="int" resultType="com.example.app.domain.CircularBoard">
		SELECT * FROM circular_boards WHERE delete_flg = 0 AND id = #{id}
	</select>
	<select id="selectByLatestData" resultType="com.example.app.domain.CircularBoard">
		SELECT name, created FROM circular_boards ORDER BY created DESC LIMIT 1
	</select>
	<insert id="insert"
		parameterType="com.example.app.domain.CircularBoard">
		INSERT INTO circular_boards (name, file_path, created)
		VALUES (#{name}, #{filePath}, NOW())
	</insert>
	<update id="delete"
		parameterType="com.example.app.domain.CircularBoard">
		UPDATE circular_boards
		SET delete_flg = #{deleteFlg}
		WHERE id = #{id}
	</update>
	<!-- ページ分割機能用 -->
	<select id="count" resultType="long">
		SELECT COUNT(*) FROM circular_boards WHERE delete_flg = 0
	</select>
	<select id="selectLimited" resultType="com.example.app.domain.CircularBoard">
		SELECT * FROM circular_boards 
		WHERE delete_flg = 0
		ORDER BY created DESC
		LIMIT #{offset}, #{num}
	</select>
</mapper>