<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.dao.GroupDao">
	<select id="selectAll" resultType="com.example.app.domain.Group">
		SELECT * FROM `groups`
		WHERE delete_flg = 0
	</select>
	<select id="selectById" parameterType="int" resultType="com.example.app.domain.Group">
		SELECT * FROM `groups` WHERE id = #{id}
	</select>
	<insert id="insert"
		parameterType="com.example.app.domain.Group">
		INSERT INTO `groups` (name) VALUES (#{name})
	</insert>
	<update id="update"
		parameterType="com.example.app.domain.Group">
		UPDATE `groups`
		SET delete_flg = #{deleteFlg}
		WHERE id = #{id}
	</update>
	<!-- ページ分割機能用 -->
	<select id="count" resultType="long">
		SELECT COUNT(*) FROM `groups`
	</select>
	<select id="selectLimited" resultType="com.example.app.domain.Group">
		SELECT * FROM `groups` 
		ORDER BY name ASC
		LIMIT #{offset}, #{num}
	</select>
</mapper>