<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.dao.NotificationDao">
	<select id="selectAll" resultType="com.example.app.domain.Notification">
		SELECT * FROM notifications WHERE delete_flg = 0
	</select>
	<select id="selectLimitedList" resultType="com.example.app.domain.Notification">
		SELECT content, created FROM notifications 
		WHERE delete_flg = 0
		ORDER BY created DESC
		LIMIT 5
	</select>
	<select id="selectById" parameterType="int" resultType="com.example.app.domain.Notification">
		SELECT * FROM notifications WHERE delete_flg = 0 AND id = #{id}
	</select>
	<insert id="insert"
		parameterType="com.example.app.domain.Notification">
		INSERT INTO notifications (content, created, updated)
		VALUES (#{content}, NOW(), NOW())
	</insert>
	<update id="update"
		parameterType="com.example.app.domain.Notification">
		UPDATE notifications
		SET content = #{content}, updated = NOW()
		WHERE id = #{id}
	</update>
	<update id="delete" parameterType="com.example.app.domain.Notification">
		UPDATE notifications
		SET delete_flg = #{deleteFlg}, updated = NOW()
		WHERE id = #{id}
	</update>
	<!-- ページ分割機能用 -->
	<select id="count" resultType="long">
		SELECT COUNT(*) FROM notifications WHERE delete_flg = 0
	</select>
	<select id="selectLimited" resultType="com.example.app.domain.Notification">
		SELECT * FROM notifications 
		WHERE delete_flg = 0
		ORDER BY created DESC
		LIMIT #{offset}, #{num}
	</select>
</mapper>